In [ ]:
# for 반복문과 문자열 연산
#연습문제1


*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

     * 
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [ ]:
# NumPy배열 슬라이싱
#연습문제2
m = np.array([[ 0,  1,  2,  3,  4],
            [ 5,  6,  7,  8,  9],
            [10, 11, 12, 13, 14]])
#이 행렬에서 값 7 을 인덱싱한다.
# 이 행렬에서 값 14 을 인덱싱한다.
# 이 행렬에서 배열 [6, 7] 을 슬라이싱한다.
# 이 행렬에서 배열 [7, 12] 을 슬라이싱한다.
# 이 행렬에서 배열 [[3, 4], [8, 9]] 을 슬라이싱한다.

In [ ]:
#NumPy배열생성과 변형
#연습문제3
#아래와 동일한 배열을 생성 메소드(one, zero, tile)
array([[   0.,    0.,    0.,    1.,    1.],
        [   0.,    0.,    0.,    1.,    1.],
        [   0.,    0.,    0.,    1.,    1.],
        [  10.,   20.,   30.,   40.,   50.],
        [  60.,   70.,   80.,   90.,  100.],
        [ 110.,  120.,  130.,  140.,  150.],
        [   0.,    0.,    0.,    1.,    1.],
        [   0.,    0.,    0.,    1.,    1.],
        [   0.,    0.,    0.,    1.,    1.],
        [  10.,   20.,   30.,   40.,   50.],
        [  60.,   70.,   80.,   90.,  100.],
        [ 110.,  120.,  130.,  140.,  150.]])

In [ ]:
#NumPy정렬
#연습문제 4
#첫 번째 행:학번,  두번째 행:영어성적,  세번째 행:수학성적 일 때, 영어성적을 기준으로 모든 열을 재정렬하라

x=np.array([[  1,    2,    3,    4],  
       [ 46,   99,  100,   71],
       [ 81,   59,   90,  100]])

In [ ]:
#데이터프레임 클래스 생성
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}  #딕셔너리
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"] #열방향 인덱스
index = ["서울", "부산", "인천", "대구"]                               #행방향 인덱스
df = pd.DataFrame(data, index=index, columns=columns)
df

In [ ]:
#데이타 프레임 인덱싱
#연습문제5
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
df

In [ ]:
#데이타 프레임 고급인덱싱 
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

In [1]:
#데이타 프레임 데이터조작
#연습문제 6
#sort_values, value_counts 메서드를 사용하여 타이타닉호 승객에 대해 
# 성별(sex) 인원수, 나이별(age) 인원수, 사망/생존(alive) 인원수를 구하라.
import seaborn as sns
titanic = sns.load_dataset("titanic")
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
#연습문제 7
# 1.타이타닉호 승객의 평균 나이를 구하라.
# 2.타이타닉호 승객중 여성 승객의 평균 나이를 구하라.
# 3.타이타닉호 승객중 1등실 선실의 여성 승객의 평균 나이를 구하라.

In [ ]:
#데이타 프레임 합성
#merge함수
df1 = pd.DataFrame({
    '고객번호': [1001, 1002, 1003, 1004, 1005, 1006, 1007],
    '이름': ['둘리', '도우너', '또치', '길동', '희동', '마이콜', '영희']
}, columns=['고객번호', '이름'])
df1

In [ ]:
df2 = pd.DataFrame({
    '고객번호': [1001, 1001, 1005, 1006, 1008, 1001],
    '금액': [10000, 20000, 15000, 5000, 100000, 30000]
}, columns=['고객번호', '금액'])
df2

In [ ]:
#중복된 키가 여러개 있는 경우
df1 = pd.DataFrame({
    '품종': ['setosa', 'setosa', 'virginica', 'virginica'],
    '꽃잎길이': [1.4, 1.3, 1.5, 1.3]},
    columns=['품종', '꽃잎길이'])
df1

In [ ]:
df2 = pd.DataFrame({
    '품종': ['setosa', 'virginica', 'virginica', 'versicolor'],
    '꽃잎너비': [0.4, 0.3, 0.5, 0.3]},
    columns=['품종', '꽃잎너비'])
df2

In [ ]:
#기준열 on인수 사용
df1 = pd.DataFrame({
    '고객명': ['춘향', '춘향', '몽룡'],
    '날짜': ['2018-01-01', '2018-01-02', '2018-01-01'],
    '데이터': ['20000', '30000', '100000']})
df1

In [ ]:
df2 = pd.DataFrame({
    '고객명': ['춘향', '몽룡'],
    '데이터': ['여자', '남자']})
df2

In [ ]:
#index를 기준열로 하는 경우의 merage
df1 = pd.DataFrame({
    '도시': ['서울', '서울', '서울', '부산', '부산'],
    '연도': [2000, 2005, 2010, 2000, 2005],
    '인구': [9853972, 9762546, 9631482, 3655437, 3512547]})
df1

In [ ]:
df2 = pd.DataFrame(
    np.arange(12).reshape((6, 2)),
    index=[['부산', '부산', '서울', '서울', '서울', '서울'],
           [2000, 2005, 2000, 2005, 2010, 2015]],
    columns=['데이터1', '데이터2'])
df2

#3.3 데이타 입출력
인터넷 상의 CSV파일 입력 KRX정보데이터시스템 http://data.krx.co.kr/contents/MDC/MDI/mdiLoader/index.cmd?menuId=MDC0201020201

In [ ]:
#FRED데이터베이스 미국국가총생산 GDP
import pandas_datareader as pdr
import datetime
dt_start = datetime.datetime(2010, 1, 1)
dt_end = "2023, 6, 30"
gdp = pdr.get_data_fred('GDP', dt_start, dt_end)
gdp.tail()

In [ ]:
import FinanceDataReader as fdr

# 한국거래소 상장종목 전체
df_krx = fdr.StockListing('KRX')
df_krx.head()

In [ ]:
# 에코프로비엠
df = fdr.DataReader('247540', '2023')  #종목코드, 년도
df['Change']=round(df['Change']*100,2)
df.tail(10)

In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt

df = fdr.DataReader('247540', '2021')
df['Close'].plot(c="b",lw=1, marker="o", ms=2, mec="r", mew=2, mfc="r") #종가
plt.rc('font', family='Gothic')
plt.title("에코프로비엠 일일 종가변화")
plt.xlabel("날짜")
plt.ylabel("가격")

In [ ]:
# KS11 (KOSPI 지수), 2015년~현재
df = fdr.DataReader('KS11', '2018')
df['Close'].plot()

In [ ]:
#matplotlib 한글폰트설정

In [ ]:
#Matplotlib, pyplot서브 패키지
import matplotlib as mpl
import matplotlib.pyplot as plt
#폰트디렉토리위치
mpl.matplotlib_fname()

In [ ]:
mpl.get_cachedir()

In [ ]:
# 폰트 설정
mpl.rc('font', family='NanumGothic')
# 유니코드에서  음수 부호설정
mpl.rc('axes', unicode_minus=False)

In [ ]:
plt.rc('font', family='NanumGothic')
plt.title('한글 제목')
plt.plot([10, 20, 30, 40], [1, 4, 9, 16], 'rs--')
plt.xlabel("엑스축 라벨")
plt.ylabel("와이축 라벨")
plt.show()

In [ ]:
#pandas 시각화 기능
import pandas as pd
import numpy as np

np.random.seed(0)
df1 = pd.DataFrame(np.random.randn(100, 3),
                   index=pd.date_range('1/1/2023', periods=100),
                   columns=['A', 'B', 'C']).cumsum()
df1.tail()

In [ ]:
df1.plot()
# 폰트 설정
plt.rc('font', family='NanumGothic')
# 유니코드에서  음수 부호설정
plt.rc('axes', unicode_minus=False)
plt.title("Pandas의 Plot메소드 사용 예")
plt.xlabel("시간")
plt.ylabel("Data")
plt.show()