In [ ]:
import numpy as np

In [ ]:
# for 반복문과 문자열 연산
#연습문제1


*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

     * 
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [ ]:
half_value=10
for i in range(1,20,1):       
    if(i<=half_value):
        print("*"*i)
    else:
        i=half_value-(i%half_value)
        print("*"*i)

In [ ]:
half_value=11
    for i in range(1,22,2):       
         if(i<=half_value):         
            char= "{:^11}".format("*"*i)            
            print(char)   
         else:
            i=half_value-(i%half_value)
            char= "{:^11}".format("*"*i)            
            print(char)

In [ ]:
# NumPy배열 슬라이싱
#연습문제2
m = np.array([[ 0,  1,  2,  3,  4],
            [ 5,  6,  7,  8,  9],
            [10, 11, 12, 13, 14]])
#이 행렬에서 값 7 을 인덱싱한다.
# 이 행렬에서 값 14 을 인덱싱한다.
# 이 행렬에서 배열 [6, 7] 을 슬라이싱한다.
# 이 행렬에서 배열 [7, 12] 을 슬라이싱한다.
# 이 행렬에서 배열 [[3, 4], [8, 9]] 을 슬라이싱한다.

In [ ]:
#NumPy배열생성과 변형
#연습문제3
#아래와 동일한 배열을 생성 메소드(one, zero, tile)
array([[   0.,    0.,    0.,    1.,    1.],
        [   0.,    0.,    0.,    1.,    1.],
        [   0.,    0.,    0.,    1.,    1.],
        [  10.,   20.,   30.,   40.,   50.],
        [  60.,   70.,   80.,   90.,  100.],
        [ 110.,  120.,  130.,  140.,  150.],
        [   0.,    0.,    0.,    1.,    1.],
        [   0.,    0.,    0.,    1.,    1.],
        [   0.,    0.,    0.,    1.,    1.],
        [  10.,   20.,   30.,   40.,   50.],
        [  60.,   70.,   80.,   90.,  100.],
        [ 110.,  120.,  130.,  140.,  150.]])

In [ ]:
a0=np.zeros(3)
a0

In [ ]:
a1=np.ones(2)
a1

In [ ]:
a3=np.hstack[a0,a1]

In [ ]:
#NumPy정렬
#연습문제 4
#첫 번째 행:학번,  두번째 행:영어성적,  세번째 행:수학성적 일 때, 영어성적을 기준으로 모든 열을 재정렬하라

x=np.array([[  1,    2,    3,    4],  
       [ 46,   99,  100,   71],
       [ 81,   59,   90,  100]])

In [ ]:
#데이터프레임 클래스 생성
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}  #딕셔너리
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"] #열방향 인덱스
index = ["서울", "부산", "인천", "대구"]                               #행방향 인덱스
df = pd.DataFrame(data, index=index, columns=columns)
df

In [ ]:
#데이타 프레임 인덱싱
#연습문제5
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
df

In [ ]:
#데이타 프레임 고급인덱싱 
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

In [ ]:
#데이타 프레임 데이터조작
#연습문제 6
#sort_values, value_counts 메서드를 사용하여 타이타닉호 승객에 대해 
# 성별(sex) 인원수, 나이별(age) 인원수, 사망/생존(alive) 인원수를 구하라.
import seaborn as sns
titanic = sns.load_dataset("titanic")
titanic.head()

In [ ]:
#연습문제 7
# 1.타이타닉호 승객의 평균 나이를 구하라.
# 2.타이타닉호 승객중 여성 승객의 평균 나이를 구하라.
# 3.타이타닉호 승객중 1등실 선실의 여성 승객의 평균 나이를 구하라.

In [ ]:
#Matplotlib, pyplot서브 패키지
import matplotlib as mpl
import matplotlib.pyplot as plt

In [ ]:
#matplotlib 한글폰트설정
1.폰트디렉토리위치를 검색한다.
mpl.matplotlib_fname()  
# 'C:\\ProgramData\\anaconda3\\Lib\\site-packages\\matplotlib\\mpl-data\\matplotlibrc'
# matplotlibrc파일을 메모장으로 열어 다음과 같은 항목을 아래와 같이 설정한다.
#font.family:  NanumGothic
#NanumGothic.ttf파일을 복사
# 폰트파일 복사 경로 C:\ProgramData\anaconda3\Lib\site-packages\matplotlib\mpl-data\fonts\ttf

In [ ]:
#캐쉬파일폴더 검색후 해당폴더 내의 캐쉬파일을 삭제하고 jupyter notebook를 재기동 한다.
mpl.get_cachedir()

In [ ]:
# 폰트 설정
mpl.rc('font', family='NanumGothic')
# 유니코드에서  음수 부호설정
mpl.rc('axes', unicode_minus=False)