In [ ]:
import pandas as pd
import numpy as np
#시리즈 클래스
#생성 인덱스 지정
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])
s

In [ ]:
#인덱스 미지정
pd.Series(range(10, 14))

In [ ]:
s.values

In [ ]:
s.index

In [ ]:
#인덱싱
s[1], s["부산"]

In [ ]:
#배열인덱싱, 문자열라벨을 이용한 인덱싱
s[[0, 3, 1]]

In [ ]:
s[["서울", "대구", "부산"]]

In [ ]:
#슬라이싱 문자열 라벨 사용
s["부산":"대구"]  # 부산에서 대구까지 (대구도 포함)

In [ ]:
#시리즈와 딕셔너리
#In연산
"서울" in s  # 인덱스 라벨 중에 서울이 있는가

In [ ]:
#item 메서드를 통한 key,value 접근
for k, v in s.items():
    print("%s = %d" % (k, v))

In [ ]:
#딕셔너리개체를 사용한 시리즈 생성
#시리즈로 순서를 보장하지 않음, 순서 지정을 위해서는 인덱스 값을 리스트로 저장 필요
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158},
               index=["부산", "서울", "인천", "대전"])
s2

In [ ]:
#인덱스 기반연산
ds = s - s2
ds

In [ ]:
#notnull
ds.notnull()

In [ ]:
ds[ds.notnull()]

In [ ]:
#데이터 갱신 추가 삭제
ds["대구"] = 1.41
ds

In [ ]:
del ds["대구"]
ds

In [ ]:
#데이터프레임 클래스 생성
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}  #딕셔너리
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"] #열방향 인덱스
index = ["서울", "부산", "인천", "대구"]                               #행방향 인덱스
df = pd.DataFrame(data, index=index, columns=columns)
df

In [ ]:
#데이터 접근
df.values

In [ ]:
#열방향 인덱스
df.columns

In [ ]:
#행방향 인덱스
df.index

In [ ]:
#열 단위 데이터의 갱신, 추가,삭제
# "2010-2015 증가율"이라는 이름의 열 추가
df["2010-2015 증가율"] = df["2010-2015 증가율"] * 100
df

In [ ]:
# "2010-2015 증가율"이라는 이름의 열 삭제
del df["2010-2015 증가율"]
df

In [ ]:
#열인덱싱
# 하나의 열만 인덱싱하면 시리즈가 반환된다.
df["지역"] 
type(df["지역"])

In [ ]:
# 여러개의 열(리스트)을 인덱싱하면 부분적인 데이터프레임이 반환된다.
a=df[["2010", "2015"]]
type(a)

In [ ]:
#하나의 열을 인덱싱할 때, 데이터프레임 자료형 유지를 위해서는 리스트를 사용하여 인덱싱
df[["2010"]]

In [ ]:
#열인덱스가 문자열인 경우 정수인덱스 사용불가  =>KeyError
df[0]

In [ ]:
#정수형 열 인덱스의 경우 열인덱싱할 때 정수인덱스 사용가능
import pandas as pd
import numpy as np
df2 = pd.DataFrame(np.arange(12).reshape(3, 4))
df2

In [ ]:
df2[[2]]
# df2[[1, 2]]

In [ ]:
#행 인덱싱
#이전 슬라이싱 규칙과 동일
df[:1]

In [ ]:
df[1:3]

In [ ]:
#개별원소에 대한 인덱싱
df["2015"]["서울"]

In [ ]:
#데이타 프레임 인덱싱관련
#연습문제
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
df

In [ ]:
# (1) 모든 학생의 수학 점수를 시리즈로 나타낸다.
df["수학"]

In [ ]:
# (2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.
df[["국어", "영어"]]

In [ ]:
# (3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.
df["평균"]=df.mean(axis=1)  #행연산 axis=1
df

In [ ]:
# (4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.
#df["영어"]["방자"]=80
df.loc["방자","영어"] = 80
df["평균"]=df.mean(axis=1)
df

In [ ]:
# (5) 춘향의 점수를 데이터프레임으로 나타낸다.
df[:"춘향"]
# df[:1]